@import "tailwindcss";

:root {
  --bg-primary: #FDF8F0;
  --bg-secondary: #F5EDE0;

  --text-primary: #3E2A1F;
  --text-secondary: #7A5A4B;

  --accent-main: #C88A5A;
  --hover-main: #B06F42;

  --border: #E2D4C6;
  --shadow: rgba(62, 42, 31, 0.08);

  --wood: #DAB88B; 
}

@theme inline {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-accent-main: var(--accent-main);
  --color-hover-main: var(--hover-main);


  --color-border: var(--border);
  --color-shadow: var(--shadow);

  --color-wood:var(--wood);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #211A15;
    --bg-secondary: #2F261F;

    --text-primary: #F5EDE2;
    --text-secondary: #CBB79B;

    --accent-main: #C87E4A;
    --hover-main: #DF9B6A;

    --border: #4E3B2C;
    --shadow: rgba(0, 0, 0, 0.5);

    --wood: #5E3F2B; 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
