@import "tailwindcss";

:root {
  --bg-primary: #F5F1EA;
  --bg-secondary: #FFFDF9;

  --text-primary: #2E2118;
  --text-secondary: #6B5A4D;

  --accent: #8B4A08;
  --hover-accent: #6E3904;

  --wood: #6E7A4B; 
  --hover-wood: #C78A3B;

  --border: #D9C7B8;
  --shadow: #6c4321;

  --white: #F4EBDD;
  --off-white: #BFAE9F;

  --overlay-color: rgba(34, 22, 14, 0.35);
}

@theme inline {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-accent: var(--accent);
  --color-hover-accent: var(--hover-accent);

  --color-wood: var(--wood);
  --color-hover-wood:  var(--hover-wood);

  --color-border: var(--border);
  --color-shadow: var(--shadow);

  --color-white: var(--white);
  --color-off-white: var(--off-white);

  --color-overlay-color: var(--overlay-color);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --bg-primary: #12100E;
  --bg-secondary: #1C1815;

  --text-primary: #F4EBDD;
  --text-secondary: #BFAE9F;

  --accent: #A65A0A;
  --hover-accent: #C9771A;

  --wood: #5E6A42; 
  --hover-wood: #D29A49;

  --border: #3A312B;
  --shadow: rgba(0, 0, 0, 0.5);

  --overlay-color: rgba(0,0,0,0.45);
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
