@import "tailwindcss";

:root {
  --bg-primary: #FDF8F0;
  --bg-secondary: #F5EDE0;

  --text-primary: #3E2A1F;
  --text-secondary: #7A5A4B;

  --accent: #C88A5A;
  --hover-accent: #B06F42;

  --wood: #DAB88B; 
  --hover-wood: #C4A071;

  --border: #E2D4C6;
  --shadow: rgba(62, 42, 31, 0.08);
}

@theme inline {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-accent: var(--accent);
  --color-hover-accent: var(--hover-accent);

  --color-wood: var(--wood);
  --color-hover-wood:  var(--hover-wood);

  --color-border: var(--border);
  --color-shadow: var(--shadow);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #211A15;
    --bg-secondary: #2F261F;

    --text-primary: #F5EDE2;
    --text-secondary: #CBB79B;

    --accent: #C87E4A;
    --hover-accent: #DF9B6A;

    --wood: #5E3F2B; 
    --hover-wood: #78563E;

    --border: #4E3B2C;
    --shadow: rgba(0, 0, 0, 0.5);
  }
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
